.Trigger-wrapper {
    cursor: pointer;    
}
.Trigger-clip {
    z-index: 3;
    width: 150px;
    height: 170px;
    border-radius: 75px;
    top: -7px;
    left: 25px;
    overflow: hidden;
}
.Trigger-clip > * {
    position: absolute;
    left: 0;
    display: block;
    width: 150px;
}
.Trigger-front {
    z-index: 1;
    top: 0;
    height: 170px;
    border-radius: 75px;
    background:
        linear-gradient(
            90deg,
            rgba(230,154,154,1) 0%,
            rgba(230,0,0,1) 50%,
            rgba(230,154,154,1) 100%
        );
    box-shadow:
        inset 0 -3px 5px rgba(0,0,0,0.5);
    transition: top 0.2s;
}
.Trigger-top {
    z-index: 2;
    width: 150px;
    height: 150px;
    top: 0;
    border-radius: 50%;
    background: 
        linear-gradient(
            70deg,
            rgba(230,24,24,1) 0%,
            rgba(230,70,70,1) 50%,
            rgba(230,24,24,1) 100%
        );        
    box-shadow:
        inset 0 -8px 0 rgba(255,255,255,0.20),
        inset 0 4px 0 rgba(0,0,0,0.20);
    transition:
        top 0.2s,
        ;
}
.Trigger-top::after {
    content: "";
    display: block;
    box-shadow: 
        inset 0 10px 10px 10px rgba(70,0,0,1);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s;
}
.Trigger-bottom {
    z-index: 3;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 20px;
    background-color: white;
    opacity: 0.14;
    box-shadow:
        inset 0 0 8px rgba(0,0,0,1);
    transition: top 0.2s;
}
.Trigger-shadow {
    z-index: 2;
    width: 156px;
    height: 156px;
    top: 10px;
    left: 22px;
    border-radius: 50%;
    background-color: rgb(73,0,0);
}
.Trigger-bevel {
    z-index: 1;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: 
        linear-gradient(
            130deg,
            rgba(230,230,230,1) 0%,
            rgba(56,56,56,1) 100%
        )
}
.Trigger-on .Trigger-top {
    top: 28px;
}
.Trigger-on .Trigger-bottom {
    top: 48px;
}
.Trigger-on .Trigger-front {
    top: 28px;
}
.Trigger-on .Trigger-top::after {
    opacity: 0.4;
}