.Spinner {
    width: 300px;
    height: 240px;
}
.Spinner-wrapper {
    z-index: 2;
    top: 20px;
    left: 50px;
}

.Spinner-spokes {
    width: 176px;
    height: 176px;
    left: 12px;
    top: 12px;
    z-index: 1;
    border-radius: 50%;
    transition: transform 0.4s;
    transition-timing-function: ease-in-out;
    background-position: 0 -20px;
    background-repeat: no-repeat;
    background-size: 176px 196px;
}

.Spinner-border {
    z-index: 2;
    border-radius: 50%;
    background:
        linear-gradient(
            130deg,
            rgba(140,140,140,1),
            rgba(70,70,70,1)
        );
    box-shadow:
        inset -5px -5px 5px black,
        inset 10px 10px 10px white;
    opacity: 0.90;
}

.Spinner-top {
    width: 160px;
    height: 160px;
    z-index: 3;
    left: 20px;
    top: 15px;
    border-radius: 50%;
    background-color: rgb(220,220,220);
    box-shadow:
        inset -1px -1px 0 rgba(0,0,0,0.8),
        inset -18px -18px 18px rgba(255,255,255,0.7),
        inset 2px 2px 0 rgba(255,255,255,1),
        inset 0 0 20px rgba(0,0,0,0.2);
}
.Spinner-decals {
    width: 160px;
    height: 160px;
    z-index: 4;
    left: 20px;
    top: 15px;
    transition: transform 0.4s;
    transition-timing-function: ease-in-out;
}
.Spinner-decals > * {
    position: absolute;
    top: 0; left: 0;
    width: 160px;
    height: 160px;
    display: block;
    transition: opacity 0.4s;
}
.Spinner-decals > *::after {
    content: "";
    display: block;
    background-color: rgb(30, 179, 79);
    width: 8px;
    height: 8px;
    right: 14px;
    top: 76px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.Spinner-decal-6::after {
    width: 20px;
    height: 20px;
    right: 8px;
    top: 70px;
}
.Spinner-decal-6::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    z-index: 2;
    right: 14px;
    top: 76px;
    border: 3px solid white;
    border-width: 0 3px 3px 0;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: transform 0.4s;
}

.Spinner-click-up {
    height: 90px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    z-index: 20;
    transform-origin: center bottom;
    transition: transform 0.4s;
    transition-timing-function: ease-in-out;
}
.Spinner-click-down {
    height: 90px;
    top: 100px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    z-index: 20;
    transform-origin: center top;
    transition: transform 0.4s;
    transition-timing-function: ease-in-out;
}

.Spinner-labels {
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 60px;
    opacity: 0.75;
}

.Spinner-labels > * {
    position: absolute;
    height: 16px;
    width: 50px;
    font-size: 13px;
    font-family: Consolas,"Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    font-weight: 700;
    font-synthesis: weight;
    color: black;
    overflow: hidden;
}
.Spinner-labels > * span {
    padding: 0 3px;
    border-radius: 5px;
    transition: background-color 0.4s, color 0.4s;
}
.Spinner-label-active span {
    background-color: rgb(30, 179, 79);
    color: white;
}
.Spinner-label-empty::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    position: relative;
    margin: 6px 2px 2px 0;
    border-radius: 50%;
    background-color: black;
    transition: background-color 0.4s;
}
.Spinner-label-empty.Spinner-label-active::after {
    background-color: rgb(30, 179, 79);
}

.Spinner-label-0 {
    left: 65px;
    top: -23px;
    text-align: center;
}
.Spinner-label-1 {
    top: -9px;
    left: 143px;
}
.Spinner-label-2 {
    top: 29px;
    left: 181px;
}
.Spinner-label-3 {
    top: 82px;
    left: 195px;
}
.Spinner-label-4 {
    top: 135px;
    left: 181px;
}
.Spinner-label-5 {
    top: 173px;
    left: 143px;
}
.Spinner-label-6 {
    left: 65px;
    top: 187px;
    text-align: center;
}
.Spinner-label-7 {
    top: 173px;
    right: 143px;
    text-align: right;
}
.Spinner-label-8 {
    top: 135px;
    right: 181px;
    text-align: right;
}
.Spinner-label-9 {
    top: 82px;
    right: 195px;
    text-align: right;
}
.Spinner-label-10 {
    top: 29px;
    right: 181px;
    text-align: right;
}
.Spinner-label-11 {
    top: -9px;
    right: 143px;
    text-align: right;
}