.Toggle { 
    position: relative;
}

.Toggle-wrapper {
    padding: 40px 0;
    transform-origin: top left;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.Toggle-background {
    display: block;
    width: 250px;
    height: 50px;
    background-color: rgb(157,157,157);
    border-radius: 25px;
    box-shadow: inset 0 10px 20px rgba(0,0,0,0.6);
    transition: background-color 0.5s;
}

.Toggle-on .Toggle-background {
    background-color: rgb(65,195,102);
}
.Toggle-button {
    display: block;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0;
    background-color: rgb(220,220,220);
    box-shadow:
        0 5px 10px rgba(0,0,0,0.6),
        inset 12px 12px 12px white;
    border: 3px solid rgb(127,127,127);
    transition: left 0.2s;
}
.Toggle-button:after {
    content: "";
    display: block;
    width: 89px;
    height: 89px;
    border-radius: 50%;
    border: 3px solid rgba(0,128,36,0.6);
    box-shadow:
        inset 8px 8px 8px rgba(0,0,0,0.2);
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.2s;
}

.Toggle-on .Toggle-button {
    left: 129px;
}
.Toggle-on .Toggle-button:after {
    opacity: 1;
}

.Toggle-label {
    display: block;
    position: relative;
    color: rgba(0,0,0,0.8);
}