.Toggle-background {
    top: 60px;
    width: 330px;
    height: 80px;
    background-color: rgb(157,157,157);
    border-radius: 40px;
    box-shadow: inset 0 15px 30px rgba(0,0,0,0.6);
    transition: background-color 0.5s;
}
.Toggle-button {
    border-radius: 50%;
    background-color: rgb(220,220,220);
    box-shadow:
        0 8px 15px rgba(0,0,0,0.6),
        inset 18px 18px 18px white;
    border: 5px solid rgb(127,127,127);
    transition: left 0.15s;
}
.Toggle-button::after {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid black;
    box-shadow:
        inset 12px 12px 12px rgba(0,0,0,0.2);
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.15s;
}

.Toggle-on .Toggle-button {
    left: 160px;
}
.Toggle-on .Toggle-button::after {
    opacity: 1;
}

/* Red */
.Toggle-on.Toggle-red .Toggle-background {
    background-color: rgb(225,50,50);
}
.Toggle-red .Toggle-button::after {
    border-color: rgba(128,0,0,0.7);
}
/* Yellow */
.Toggle-on.Toggle-yellow .Toggle-background {
    background: linear-gradient(rgb(255,235,120), rgb(255,255,200));
    box-shadow: inset 0 15px 30px rgba(0,0,0,0.3);
}
.Toggle-yellow .Toggle-button::after {
    top: 15px;
    left: 15px;
    width: 140px;
    height: 140px;
    border-width: 5px;
    border-color: rgba(255,235,0,0.7);
}
/* Green */
.Toggle-on.Toggle-green .Toggle-background {
    background-color: rgb(65,195,108);
}
.Toggle-green .Toggle-button::after {
    border-color: rgba(0,128,43,0.6);
}
/* Blue */
.Toggle-on.Toggle-blue .Toggle-background {
    background-color: rgb(6,62,139);
}
.Toggle-blue .Toggle-button::after {
    border-color: rgba(9,87,196,0.6);
}